<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <!-- v-bind directive creates a bond between the data and the attribute we need to manipulate
          short-form is ':'-->
          <img :src="image" :alt="description" />
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else :class="{outOfStock: !inStock}">
            Out of Stock
          </p>

          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <div
            v-for="variant in variants"
            :key="variant.variantId"
            class="color-box"
            :style="{ backgroundColor: variant?.variantColor }"
            @mouseover="updateProduct(variant.variantImage)"
            style="cursor: grab;"
          ></div>

          <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class="{disabledButton: !inStock}"
          >
            Add to Cart
          </button>
          <!-- <br />
          <button :disabled="cart === 0" v-on:click="reduceCart">
            Remove From Cart
          </button> -->
          <div class="cart">
            <p>Cart({{ cart }})</p>
          </div>

          <!-- <div v-for="size in sizes"><small> {{ size }} </small></div> -->

          <!-- The more performant v-show -->
          <!-- <p v-show="inStock === true">In Stock</p> -->

          <!-- Vue if/else statement -->

          <!-- <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p> -->
          <!-- <p v-if="onSale">On Sale</p> -->
        </div>
        <!-- <h2>{{ description }}</h2> -->
        <!-- <a target="_blank" :href="url">Hello there</a> -->
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
